<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Usuarios</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-5">
    <h2>Listado de Usuarios</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Usuario</th>
          <th>Clave</th>
          <th>Fecha de Nacimiento</th>
          <th>Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr  th:each="p : ${lstUsuarios}">
          <th scope="row" th:text="${p.id_usuario}" ></th>
          <td th:text="${p.nombre}"></td>
          <td th:text="${p.apellido}"></td>
          <td th:text="${p.usuario}"></td>
          <td th:text="${p.clave}"></td>
          <td th:text="${p.fnacim}"></td>
          <td th:text="${p.id_tipousuario}"></td>
          <td>
            <div class="d-flex justify-content-start">
						<a th:href="@{/{id}/usuario/(id=${p.id_usuario})}" class="btn btn-warning mr-2">Actualizar</a>
						<a th:href="@{/{id}/usuario/eliminar(id=${p.id_usuario})}" class="btn btn-danger">Eliminar</a>
					</div>
          </td>
        </tr>
        <!-- Agrega más filas aquí según sea necesario -->
      </tbody>
    </table>
   	 <a href="/usuario/registrar" class="btn btn-primary" >Regresar</a>
  </div>
	
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>