<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Mantenedor Proveedor</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"	href="CSS/estilo_listado.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/normalize_index.css">
<link rel="stylesheet" href="css/estilos_index.css">
</head>
<body>
<div class="titulo">
	<h1 style="text-align:center">Distribuidora S.A.</h1>
	<button class="boton btn btn-primary" onclick="Viajar()">Volver a Home</button>
</div>
<div class="contenedor">
	<div class="container">
		<main>
			<section style="width: 45%;">
				<h2 style="text-align:center" th:if="${updatevalidacion == null}">Registrar Proveedor</h2>
				<h2 style="text-align:center" th:if="${updatevalidacion != null}">Actualizar Proveedor</h2>
				
				<!-- FORM REGISTRAR -->
				<form id="formcrear" action="/proveedor/acciones/registrar" method="post" th:object="${proveedor}" th:if="${updatevalidacion == null}">
					<div style="display:flex; gap:0.5rem;">
						<p id="ultCod">Ultimo codigo generado:    </p>
						<p id="codigo" th:text="${ultiId}"></p>
					</div>
					<div class="form-group">
						<label for="inputCod">Codigo</label> 
						<input name="txtcodigohidden" type="text" class="form-control" id="cod_hidden" th:attr="value=${nuevoId}" disabled>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Razon social</label> 
						<input name="txtnombre"  type="text" class="form-control" id="nom"
							aria-describedby="emailHelp" placeholder="Ingrese Razon social" th:field="*{raz_soc}"> 
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Ruc</label>
						<input name="txtapellido"type="text" class="form-control"  id="ape" placeholder="Ingrese Ruc" th:field="*{ruc}">
					</div>
				
					<input name = "txtidentificar" type ="text" class="form-control" id="identify" value ="" hidden="" >
					<div id="button">
						<button id="botonGrabar" type="submit"  name="mantlista" class="btn btn-primary" value="mantGuardCli">Registrar</button>
					</div>
				</form>
				
				<!-- FORM ACTUALIZAR -->
				<form id="formactualizar" action="/proveedor/acciones/actualizar" method="post" th:object="${prov}" th:if="${updatevalidacion != null}">
					<div class="form-group">
						<label for="inputCod">ID</label> 
						<input name="txtCodigo" type="text" class="form-control" th:field="*{id_proveedor}"> 
					</div>
					<div class="form-group">
						<label>Razon social</label> 
						<input th:field="*{raz_soc}" type="text" class="form-control" placeholder="Ingrese Razon social"> 
					</div>
					<div class="form-group">
						<label>Ruc</label>
						<input type="text" class="form-control"  placeholder="Ingrese Ruc" th:field="*{ruc}">
					</div>
					<div id="button">
						<button id="botonActualizar" type="submit" name="mantlista" class="btn btn-primary" value="mantGuardCli">Actualizar</button>
						<a href="/mantenimiento/proveedor" class="btn btn-primary"> Nuevo</a>
					</div>
				</form>
				
				<br><br>
				<div th:text="${mensaje}"></div>
			</section>
			<section style="width: 55%">
				<h2 style="text-align:center">Proveedores Registrados</h2>
				<table class="table" style="text-align:center;color:lightgray;">
					<thead>
						<tr>
							<th>Codigo</th>
							<th>Razon Social</th>
							<th>Ruc</th>
							<th colspan=2>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${listaProveedores}">
							<th scope="row" th:text="${c.id_proveedor}">1</th>
							<td th:text="${c.raz_soc}">xx</td>
							<td th:text="${c.ruc}">xx</td>
							<td>
								<a class="btn btn-info" th:href="@{/proveedor/acciones/actualizar/{id}(id=${c.id_proveedor})}">Actualizar</a>
							</td>
							<td>
								<a class="btn btn-info" th:href="@{/proveedor/acciones/eliminar/{id}(id=${c.id_proveedor})}">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
	</div>
</div>
</body>

<style>
body{
      font-family: 'Quicksand', sans-serif;
      background-color: #1D202B;
      color:lightgray;
    }
	.titulo{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
	}
	main{
		display:flex;
		gap: 3rem;
	}
	#radiobuttons{
		display: flex;
		margin: 1rem;
		gap: 1rem;
		justify-content: center;
	}
	#button{
		display: flex; 
		flex-direction: row;
		gap:1rem;
		justify-content: center;
	}
	.boton{
		text-align: center;
		border-radius: 10px;
	}
	#confirm-delete{
		display: none;
	  	position: fixed;
	  	top: 0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
	  	background-color: rgba(0, 0, 0, 0.5);
	 	text-align: center;
	 	vertical-align: middle;
	}
	#confirm-delete-content{
		background-color: white;
	  	width: 250px;
	  	height: 120px;
	  	padding: 20px;
	  	margin: 100px auto;
	  	border-radius: 15px;
	  	background-color: rgba(255, 255, 255, 0.7);
	  	gap:1rem;
	}
</style>
	<script type="text/javascript">
	
	function activarModificar(){
		//forms
		 document.getElementById('formcrear').hidden = true;
		 document.getElementById('formactualizar').hidden = false;
		 document.getElementById('formeliminar').hidden = true;
		 
		 
		 document.getElementById('cod_hidden').hidden = true;
		 document.getElementById('cod').hidden = false;
		 document.getElementById('ultCod').hidden = false;
		 document.getElementById('codigo').hidden = false;
		 document.getElementById('Cod').hidden= false;
		 document.getElementById('nom').disabled= false;
		 document.getElementById('ape').disabled= false; 
		 document.getElementById('cod').disabled= false;
	}
	function activarCrear(){
		//forms
		document.getElementById('formcrear').hidden = false;
		document.getElementById('formactualizar').hidden = true;
		document.getElementById('formeliminar').hidden = true;


		document.getElementById('cod_hidden').hidden = false;
		document.getElementById('cod').hidden = true;
		document.getElementById('ultCod').hidden = true;
		document.getElementById('codigo').hidden = true;
		document.getElementById('botonGrabar').disabled = false;
		document.getElementById('nom').disabled = false;
		document.getElementById('ape').disabled = false; 
		document.getElementById('cod').disabled = false;	  
	}
	
	function Viajar(){
		location.replace('/home');	
	}
		
	</script>
</html>

